@font-face {
    font-family: korean-body;
    src: url(./SongMyung-Regular.ttf);
}

@font-face {
    font-family: korean-title;
    src: url(./GowunBatang-Regular.ttf);
}

@font-face {
    font-family: title;
    src: url(./NanumMyeongjo-Regular.ttf);
}

#content {
    display:flex;
    flex-direction: column;
    height: max(auto,100%);
    background-color: var(--light);
}

.our-story {
    display: flex;
    position: relative;
}

.sidebar {
    border-right:1px solid var(--darker);
}

.sidebar em{
    margin: 0 1rem 0 1rem;
    position:sticky;
    top:0;
    margin:0;
    font-family: title,'Times New Roman', Times, serif;
    writing-mode: vertical-lr;
    width: 3rem;
    font-size: 3rem;
    background-color: var(--light);
    text-orientation: mixed;
    color: var(--darker);
    padding:3rem 1rem 0;
    letter-spacing: .5rem;
}

:root {
    --secondary: #E5F5E5;
    --darker: #358F5E;
    --main: #def0e8;
    --accent: #CF9576;
    --second-accent: #86D9FF;
    --light: #F5F5F5
}

html, body {
    margin:0;
    height: 100%;
}

.info {
    flex:auto;
    background-color: var(--light);
    padding-top:2rem;
    height:100%;
    display: grid;
    row-gap:1rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));   
    max-height: fit-content;
}
 
.info div:first-of-type {
    display:inline;
    grid-column: 1 / 3 ;
    grid-row: span 2;
    object-fit: contain;
    background: url('./our-story1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38rem;
    filter: grayscale(50%);
}

.info div:nth-child(5) {
    display:inline;
    grid-column: 1 / -1;
    grid-column-end: -1;
    grid-row: span 2;
    object-fit: contain;
    background: url('./our-story2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38rem;
    filter: grayscale(50%);
}

.info div:nth-child(8) {
    display:inline;
    grid-column: 1 / 2;
    grid-row: span 2;
    object-fit: contain;
    background: url('./our-story3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 38rem;
    filter: grayscale(50%);
}


.info div:nth-child(6) {
    grid-column: 1;
}

.info .subtitle {
    font-family: title, 'Times New Roman', Times, serif;
    color: var(--darker);
    font-size: 3rem;
    align-self: flex-end;
    grid-column-end: -1;
    border-bottom: 1px solid var(--darker);
    padding: 0 2rem 1rem 2rem;
    text-align: right;
    padding-right: 2rem;
    text-transform: uppercase;
    min-width: fit-content;
}

.info .text {
    padding: 1rem;
    color: var(--darker);
    font-size: 1.1rem;
    letter-spacing: .2rem;
    font-family: title, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info div:nth-child(7) {
    grid-column: 1/ -1;
}

.container {
    height: 100%;
    background-color: var(--main);
    background: url(./asset-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}

.side-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter:contrast(50%) saturate(160%) brightness(120%);
}

.title { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light);
    margin: 3rem 3rem 12rem 3rem;
}

.title em{
    font-family: title,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: min(30vw,10rem);
    font-size: min(20vw, 6rem);
    padding: 2rem;
    border: 1px solid var(--light);
}

hr {
    border: 1px solid white;
    margin: auto;
    padding: 0;
    width: 50%;
}

.header {
    border-bottom:1px solid var(--darker);
}

.korean {
    font-family: korean-title, serif;
    white-space: nowrap;
}

.header-buttons {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    background-color: var(--light);
}

.header-buttons button {
    background-color: var(--light);
    width:100%;
    border: none;
    padding: 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    height:100%;
    color:var(--darker);
    white-space: nowrap;
    font-family: title,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: var(--secondary);
}

button:active {
    filter:brightness(95%);
}

li {
    list-style-type: none;
    flex: 1;
    width:100%;
}

@media screen and (max-width: 830px) {
    .header-buttons {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:640px) {
    .info div {
        grid-column: 1/2;
    }
}

@media screen and (min-width:1200px) {
    .info div:nth-child(9) {
        grid-column:2 / -1;
        text-align: left;
    }

}

@media screen and (min-width:1680px) {
    .info div:nth-child(5) {
        grid-column: span 4;
        grid-column-end: -1;
    }
    .info div:nth-child(6) {
        grid-row: 4/span 2;
    }
}
@media screen and (min-width:1800px) {
    .info div {
        grid-column: span 2;
    }

}