@font-face {
    font-family: korean-body;
    src: url(./SongMyung-Regular.ttf);
}

@font-face {
    font-family: korean-title;
    src: url(./GowunBatang-Regular.ttf);
}

@font-face {
    font-family: title;
    src: url(./NanumMyeongjo-Regular.ttf);
}

#content {
    display:flex;
    flex-direction: column;
    height: 100%;
}


:root {
    --secondary: #E5F5E5;
    --darker: #358F5E;
    --main: #def0e8;
    --accent: #CF9576;
    --second-accent: #86D9FF;
    --light: #F5F5F5
}

html, body {
    margin:0;
    height: 100%;
}

.container {
    height: 100%;
    background-color: var(--main);
    background: url(./asset-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.side-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter:contrast(50%) saturate(160%) brightness(120%);
}

.title { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light);
    margin: 3rem 3rem 12rem 3rem;
}

.title em{
    font-family: title,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: min(30vw,10rem);
    font-size: min(20vw, 6rem);
    padding: 2rem;
    border: 1px solid var(--light);
}

hr {
    border: 1px solid white;
    margin: auto;
    padding: 0;
    width: 50%;
}

.korean {
    font-family: korean-title, serif;
    white-space: nowrap;
}

.header-buttons {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    background-color: var(--light);
}

.header-buttons button {
    background-color: var(--light);
    width:100%;
    border: none;
    padding: 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    height:100%;
    color:var(--darker);
    white-space: nowrap;
    font-family: title,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: var(--secondary);
}

button:active {
    filter:brightness(95%);
}

li {
    list-style-type: none;
    flex: 1;
    width:100%;
}

@media screen and (max-width: 830px) {
    .header-buttons {
        flex-direction: column;
        align-items: center;
    }
}